html {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body{
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  @media (min-width: 1024px) {
    background-image: url('../assets/images/Boom-Beach-Hack.jpg');
  }
  @media (min-width: 480px) and (max-width: 1024px) {
    background-image: url('../assets/images/boombeach-ipad.jpg');
  }
  @media (max-width: 480px){
    background-image: url('../assets/images/boombeach-smart.jpg');
  }
}
.generator {
  width: 100%;
}
.generator-content{
  width: 100%;
  height: 100%;
}
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

/*html {
  background-image: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/arches.png);
}
*/

.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}

.card {
  background-color: rgba(255,255,255,0.9);
  // opacity: 0.9;
  height: 70%;
  width: 45%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  overflow: hidden;
  @media (max-width: 768px){
    height: auto;
    width: 90%;
    position: relative;
    padding-bottom: 20px;
    margin-top: 10%;
  }
  @media (min-width: 468px) and (max-width: 768px){
    height: 550px;
  }
  @media (max-width: 468px){
    height: auto;
    width: 100%;
    position: absolute;
    padding-bottom: 20px;
    margin-top:0;
  }
}

.card:hover {
  box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.2);
  height: 75%;
  width: 55%;
  @media (max-width: 768px){
    height: auto;
    width: 90%;
  }
  @media (min-width: 468px) and (max-width: 768px){
    height: 550px;
  }
  @media (max-width: 468px){
    height: auto;
    width: 100%;
  }
}

.card_circle {
  height: 60%;
  width: 100%;
  opacity: 0.8;
  background-color: #ebbe3a;
  position: absolute;
  border-radius: 50%;
  // margin-left: -75px;
  margin-top: -270px;
  @media (max-width: 768px){
    position: relative;
    border-radius: 0;
    height: 285px;
  }
  @media (max-width: 468px){
    width: 100%;
    margin-left: 0;
  }
}

.card:hover .card_circle {
  border-radius: 0;
  margin-top: -130px;
  @media (max-width: 768px){
    border-radius: 0;
    margin-top: -270px;
  }
}

h2.transition {
  text-align: center;
  margin-top: 190px;
  position: absolute;
  z-index: 10;
  font-size: 26px;
  color: #462b36;
  width: 100%;
  font-family: 'Noto Sans', serif;
  @media (max-width: 768px){
    margin-top: 60px;
    position: relative;
  }
}

h2 small {
  font-weight: normal;
  font-size: 65%;
  color: rgba(0,0,0,0.5);

}

.card:hover h2.transition {
  margin-top: 100px;
  color: #fff;
  @media (max-width: 768px){
    margin-top: 60px;
    color: #462b36;
  }
}

.card:hover h2 small {
  color: #fff;
  @media (max-width: 768px){
  color: rgba(0,0,0,0.5);;
  }
}

.cta-container {
  text-align: center;
  margin-top: 290px;
  position: absolute;
  z-index: 9999;
  width: 100%;
  font-family: 'Noto Sans', serif;
}

.cta {
  color: #462b36;
  border: 2px solid #ebbe3a;
  background-color: #ebbe3a;
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 17px;
  text-decoration: none;
  font-weight: bold;
}

.card:hover .cta-container {
  margin-top: 320px;
  @media (max-width: 768px){
  margin-top: 290px;
  }

}
.form {
  position: absolute;
  bottom: 50px;
  height: 40%;
  width: 100%;
  text-align: center;
  h2{
    padding: 0 10px;
    font-size: 22px;
  }
  @media (max-width: 768px){
    height: 60%;
    bottom: 0;
    position: relative;
  }
}
md-switch.md-checked .md-bar {
    background-color: #ccc;
}
md-switch.md-checked .md-thumb {
    background-color: #ebbe3a;
}
md-input-container, md-select {
  padding: 0;
}
.switches {
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
  float: left;
  span{
    padding-left: 30px;
    &.gold{
      background: transparent url('../assets/images/Gold.png') left center no-repeat;
      background-size: 20px;
    }
    &.gems{
      background: transparent url('../assets/images/Gem.png.webp') 5px center no-repeat;
      background-size: 19px;
    }
    &.elixir{
      background: transparent url('../assets/images/elixir.png') left center no-repeat;
      background-size: 19px;
    }
  }
}
.selects {
    float: right;
    padding-right: 20px;
    width: 50%;
    box-sizing: border-box;
}
md-input-container > md-select {
    margin-bottom: 10px;
}
md-select .md-select-label {
  width: 90%;
  text-align: left;
  padding-left: 10px;
}
md-select-menu md-content {
    min-width: 165px;
}

md-fab-toolbar.md-right md-fab-trigger.align-with-text {
  left: 7px; }
