<div class="generator-content">
  <div class="card transition">
    <h2 class="transition">CLASH OF CLANS<br><small>Resource hack</small></h2>
    <div class="card_circle transition"></div>

<div class="form">
  <div class="user-info">
    <div user-menu></div>

  </div>
  <h2>Choose resource to generate</h2>
  <div class="switches">
    <md-switch ng-model="isActiveG" aria-label="Finished?">
    <span class="gold">{{resources[0]}}</span>
  </md-switch>
  <md-switch ng-model="isActiveW" aria-label="Finished?">
    <span class="elixir">{{resources[1]}}</span>
  </md-switch>
  <md-switch ng-model="isActiveI" aria-label="Finished?">
    <span class="gems">{{resources[2]}}</span>
  </md-switch>
  </div>
  <div class="selects">
    <md-input-container>
      <md-select ng-disabled="!isActiveG" ng-model="someModelG" placeholder="MAX VALUE">
        <md-option ng-value="opt" ng-repeat="opt in resourceValues">{{ opt }}</md-option>
      </md-select>
      <md-select ng-disabled="!isActiveW" ng-model="someModelW" placeholder="MAX VALUE">
        <md-option ng-value="opt" ng-repeat="opt in resourceValues">{{ opt }}</md-option>
      </md-select>
      <md-select ng-disabled="!isActiveI" ng-model="someModelI" placeholder="MAX VALUE">
        <md-option ng-value="opt" ng-repeat="opt in resourceValues">{{ opt }}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <div class="clearfix">

  </div>
  <md-button ng-click="generateResources()" ng-disabled="!isActiveG && !isActiveW && !isActiveI" class="md-raised md-button"> Generate resources </md-button>
  </div>


  </div>
</div>
