.init-text, .generated-info {
  position: absolute;
  top: 55%;
  width: 100%;
  text-align: center;
    color: #fff;
    font-size: 22px;
    @media (min-width: 768px) {
      top: 65%;
    }
}
.init-text{
  span {
    display: block;
    padding: 0 20px;
  }
}
.generated-info {
  top: 38%;
  color: green;
  @media (min-width: 768px) {
    top: 45%;
  }
}
.claim-reward {
  z-index: 15000;
position: fixed;
bottom: 5%;
left: 50%;
margin-left: -130px;
width: 260px;
height: 60px;
font-size: 26px;
color: rgb(63,81,181) !important;
font-weight: bold;
@media (min-width: 468px) and (max-width: 768px){
  position: absolute;
  bottom: 23%;
}
@media (min-width: 768px) {
  position: absolute;
  bottom: 10%;
}

i {
  font-size: 55px;
    position: absolute;
    right: 0;
    top: 4px;
}
}
#gears {
  position: absolute;
  top: 24%;
  left: 43%;
  @media (min-width: 768px) {
    top: 34%;
  }

}
    .green {
      -webkit-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
        position: relative;
        width: 100px;
        left: -35px;
        top: -40px;
        }

    @-webkit-keyframes spin {
        100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin {
        100% { transform: rotate(360deg); } }

    .yellow {
        position: absolute;
        top: 23px;
        left: 2px;
        -webkit-animation: spiny 2.4s linear infinite;
        animation: spiny 2.4s linear infinite;
        width: 100px;
        }
    @-webkit-keyframes spiny {
        100% { -webkit-transform: rotate(-360deg); } }
    @keyframes spiny {
        100% { transform: rotate(-360deg);  } }
        /*
        	CSS animated loading dots
        */



          .loading_dots
          {
            background-color: rgba(0,0,0,0.2);
            border-radius: 5px;
            box-shadow: inset 0 1px 0 rgba(0,0,0,0.3),
                       0 1px 0 rgba(255,255,255,0.3);

            font-size: 1em; /* set size here */

            line-height: 1;
            padding: 0.125em 0 0.175em 0.55em;
            width: 2.75em;

            /*
              position just for demo
            */
            margin: 20% auto;
            position: absolute;
            bottom: -60px;
            right: 130px;
          }
          .card:hover .loading_dots {
            right: 183px;
          }

          .loading_dots span
          {
            background: transparent;
            border-radius: 50%;
            box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
            display: inline-block;
            height: 0.6em;
            width:  0.6em;

              -webkit-animation:  loading_dots 0.8s linear infinite;
              -moz-animation:     loading_dots 0.8s linear infinite;
              -ms-animation:      loading_dots 0.8s linear infinite;
            animation:            loading_dots 0.8s linear infinite;
          }
            .loading_dots span:nth-child(2)
            {
                -webkit-animation-delay:  0.2s;
                -moz-animation-delay:     0.2s;
                -ms-animation-delay:      0.2s;
              animation-delay:            0.2s;
            }
            .loading_dots span:nth-child(1)
            {
          	-webkit-animation-delay:  0.4s;
                -moz-animation-delay:     0.4s;
                -ms-animation-delay:      0.4s;
              animation-delay:            0.4s;
            }

        /*
          Define the animation for every efing vendor prefix
        */
          @-webkit-keyframes loading_dots
          {
            0% {
              background: transparent;
            }
            50% {
              background: #E4E4E4;
            }
            100% {
              background: transparent;
            }
          }

          @-moz-keyframes loading_dots
          {
            0% {
              background: transparent;
            }
            50% {
              background: #E4E4E4;
            }
            100% {
              background: transparent;
            }
          }
          @-ms-keyframes loading_dots
          {
            0% {
              background: transparent;
            }
            50% {
              background: #E4E4E4;
            }
            100% {
              background: transparent;
            }
          }
          @keyframes loading_dots
          {
            0% {
              background: transparent;
            }
            50% {
              background: #E4E4E4;
            }
            100% {
              background: transparent;
            }
          }
