<section class="gears">
    <div id="gears">
    <img class="green" src="http://designrevolution.rs/loaders/greengear.svg" alt="Green gear">
      <img class="yellow" src="http://designrevolution.rs/loaders/yellowgear.svg" alt="Yellow gear">
      </div>
      <p class="generated-info"></p>
      <h3 class="init-text">{{initText}}</h3>
      <md-button ng-if="showClaimButton" class="claim-reward md-raised md-button" ng-click="share()">step 1
        <i class="material-icons">chevron_right</i>
      </md-button>
  <span></span>
  <span></span>
  <span></span>
</div>
  </section>
