.share-page {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebbe3a;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #999;
  .tweet, .facebook, .gplus {
    button {
      width: 80%;
      margin-bottom: 40px;
      @media (min-width: 768px){
        width: 40%;
      }
      i{
        &.facebook-icon {
          background-image: url("../assets/images/facebook.png");
          width: 30px;
          height: 30px;
          display: block;
          background-size: 30px;
          float: left;
          margin-top: 3px;
        }
        &.twitter-icon {
          background-image: url('../assets/images/twitter.png');
          width: 30px;
          height: 30px;
          display: block;
          background-size: 30px;
          float: left;
          margin-top: 3px;
        }
        &.google-icon {
          background-image: url('../assets/images/google.png');
          width: 30px;
          height: 30px;
          display: block;
          background-size: 30px;
          float: left;
          margin-top: 3px;
        }
      }
    }
  }
}
