<div class="share-page">
  <h1>Step 1</h1>
  <h3>Share Clash of Clans hack generator</h3>
  <div class="facebook">
    <md-button
      class="md-raised md-button md-primary"
      socialshare
      socialshare-provider="facebook"
      socialshare-text="Clash of Clan hack generator"
      socialshare-url="http://9gag.com">
      <i class="facebook-icon"></i>
      Share us on Facebook
    </md-button>
  </div>
  <div class="tweet">
    <md-button
      class="md-raised md-button"
      socialshare
      socialshare-provider="twitter"
      socialshare-text="Clash of Clan hack generator"
      socialshare-url="http://9gag.com">
      <i class="twitter-icon"></i>
      Share us on Twitter
    </md-button>
  </div>
  <div class="gplus">
    <md-button
      class="md-raised md-button md-warn"
      socialshare
      socialshare-provider="google+"
      socialshare-text="Clash of Clan hack generator"
      socialshare-url="http://9gag.com">
      <i class="google-icon"></i>
      Share us on Google+
    </md-button>
  </div>

  <md-button class="claim-reward md-raised md-button md-default-theme" ng-click="share.nextStep()">
    Step 2
    <i class="material-icons">chevron_right</i>
  </md-button>
</div>
