// Set background image (pattern)

.login *{
  -ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

// Start styles in form

.login{
  position: relative;
  top: 10vh;
	width: 90%;
  display: table;
  margin: 0 auto;
  background: #fff;
  border-radius: 6px;
  @media (min-width: 768px) {
    width: 50%;
  }
  @media (min-width: 1024px) {
    width: 30%;
  }
}
.error {
  text-align: center;
display: block;
color: red;
font-size: 14px;
}
.legend{
  position: relative;
  width: 100%;
  display: block;
  background-color: #ff962b;
  background-image: url("../assets/images/login-form-header.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  text-shadow: 1px 1px 2px #000;
  font-weight: bold;
  padding: 15px;
  color: #fff;
  font-size: 1.2em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 100px;
  text-align: center;
  @media (min-width: 768px) {
    padding-top: 135px;
  }

  &:after{
    content: "";
    background-image: url(http://simpleicon.com/wp-content/uploads/multy-user.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 240px 72px;
    opacity: 0.06;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    @media (min-width: 768px) {
      background-position: 220px 85px;
    }
  }
}

.input{
  position: relative;
  width: 90%;
  margin: 15px auto;

  span{
    position: absolute;
    display: block;
    color: #88b7ff;//darken(#EDEDED, 10%);
    left: 10px;
    top: 8px;
    font-size: 20px;
  }

  input{
    width: 100%;
    padding: 10px 5px 10px 40px;
    display: block;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    transition: 0.2s ease-out;
    color: #001f4e;

    &:focus{
      padding: 10px 5px 10px 10px;
      outline: 0;
      border-color: #ff962b;
    }
  }
}

.submit{
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #ff962b;
  color: #ff962b;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;

  &:hover, &:focus{
    background: #ff962b;
    color: #fff;
    outline: 0;
  }
}
.feedback{
  position: absolute;
  bottom: -70px;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #2ecc71;
  padding: 10px 0;
  font-size: 12px;
  display: none;
  opacity: 0;

  &:before{
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(46, 204, 113, 0);
    border-bottom-color: #2ecc71;
    border-width: 10px;
    margin-left: -10px;

  }
}
.login .user-pic {
  background: url('../assets/images/profile_pic.png');
  display: block;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  position: absolute;
  left: 5px;
  top: 5px;
}
.hidden {
  display: none;
}
.error-message{
  display: none;
}
