
<form class="login" >

  <fieldset>

  	<legend class="legend">Register your Username</legend>

    <div class="input">
    	<input class="username" ng-model="userName" type="text" placeholder="Enter your Username" required />
      <span class="user-pic"></span>
    </div>
    <div class="error" ng-if="showError">
      <span>Please enter your clash of clans username</span>
    </div>
    <!-- <button type="submit" class="submit hidden"><i class="fa fa-arrow-right"></i></button> -->
    <div progress-bar></div>


  </fieldset>

</form>
