.Download {
    display: inline-block;
    width: 300px;
    height: 120px;
}
.content-buttons {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.Download3 {
  svg {
    width: 140%;
  }
}
.connecting {
  font-size: 14px;
  color: green;

}
