<div class="content-buttons">


      <!-- <div role="button" tabindex="0" aria-label="Download" class="Download1" data-progressbar-label="Downloading item..."></div> <br> -->


      <!-- <div role="button" tabindex="0" aria-label="Download" class="Download2" data-progressbar-label="Downloading item..."></div> <br> -->


      <div ng-class="{'disabled': !scope.userName}" role="button" tabindex="0" aria-label="Download" class="Download3" data-progressbar-label="Downloading item..."></div> <br>


      <!-- <div role="button" tabindex="0" aria-label="Download" class="Download4" data-progressbar-label="Downloading item..."></div> -->

</div>
