.cpa-page {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebbe3a;
  text-align: center;
  iframe {
    width: 100%;
    height: 100%;
    border: 0;   
  }
}
