<div class="cpa-page">
  <!-- <h1>Step 1</h1>
  <h3>Complete human verification</h3>
  <p>
    Almost there just complete this simple human verification and claim your resources!
  </p> -->
  <iframe src="http://hammerfiles.com/375248"></iframe>
</div>
