.user-info {
  height: 50px;
  width: 150px;
  position: fixed;
  width: 100%;
  background-color: #36648B;;
  top: 0;
  right: 0;
  z-index: 49;
  background-image: url('../assets/images/coc-header.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  @media(min-width: 768px){
    height: 60px;
  }
  .name {
    padding-top: 9px;
    float: left;
display: block;
text-align: left;
padding-left: 43px;
color: #fff;
  }
  .user-pic {
    background: url('../assets/images/profile_pic.png');
    display: block;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    position: absolute;
    left: 5px;
    top: 5px;
  }

}

nav.user-menu {
  // position: fixed;
  // top: 0;
  // right: 0;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.user-avatar {
  float: left;
  img{
  	border-radius: 50%;
  	float:left;
  	margin-left:.618em;
  	margin-top:.2em
  }

}


.icon-reorder{
     padding:.8em 1em;
     color:white;
     border-radius:0 .4em .4em 0;
     float:right
}

.icon-reorder:before {
    content: "\f0c9";
}
.drop {
	position: relative;
	font-size: 1em;
	cursor: pointer;

   a {
	   font-weight: 400;
	   line-height: 2.5em;
	   padding: 0 1em;
	   color: lighten(black,30%);
     text-decoration:none;
  }
}

 .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: .4em solid transparent;
	border-right: .4em solid transparent;
	border-top: .4em solid #FFB135;
	left: 89.5%;
	margin-left: -.4em;
	opacity:0
}
.dropdownContain {
	width: 13em;
	position: absolute;
	z-index: 2;
	right: 5px;
	margin-left: -6.5em; /* half of width */
	top: -300px;

}
.dropOut {
	width: 13em;
	background:#f6f6f6;
	float: left;
	position: relative;
	margin-top: 0;
	opacity: 0;
  border-radius: .4em, .4em;
	box-shadow: 0 0 4px rgba(0,0,0,.15);
  border:1px solid rgba(white, .75) ;
  overflow:hidden;

  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;

 ul {
	padding: .3em 0;
	margin:0
 }


}



.dropOut li {
	text-align: left;
	width: 100%;
	padding: .6em 0 ;
	color: darken(#fff, 50%);
	border-left:3px solid #f7f7f7;

  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
	span{
	 color: darken(#fff, 20%);
	 margin: 0 1.5em 0 .8em;

	}


	&:hover{
	  border-color: lighten(#FFB135,10%);
	  color: darken(#fff, 70%);
	  background: darken(#f7f7f7,4%);

	  span{
		 color:darken(#fff, 50%)

	  }
	}



}


.wrapper *{
  box-sizing: border-box;
}
.wrapper {
  width: 5em;
  margin: 3em auto;
}

.menu-toggle-wrapper {
  	// margin-top: 0.938rem;
  	float: right;

  	button {
    		padding: 0;
    		outline: none;
    		background: none;
    		text-indent: none;
    		height: 1.875rem;
    border: none;
  	}
}

.btn-menu {
  	position: relative;
  	width: 35px;
}

.menu-icon {
  	top: 0;
  transition : background .3s ease .7s;

  	&,
  	&:before,
  	&:after {
    		background: #ecf0f1;
    		border-radius: 1px;
    		position: absolute;
    		display: block;
    		height: 6px;
    		width: 35px;
  	}

  	&:before,
  	&:after {
    		content: '';
    		transition : transform 1s ease;
  	}

  	&:before {
    		top: 12px;
  	}

  	&:after {
    		top: 24px;
  	}

	  .menu-open & {
    transition : background .3s ease;

    		& {
      			background-color: rgba(255, 255, 255, 0);
    		}

    		&:before {
      			transform : rotate(500deg);
    		}

    		&:after {
      			transform : rotate(-500deg);
      			top: 12px;
    		}
  	}
}

// ul li:hover .triangle { opacity: 1 }
ul li.active .dropdownContain { top: 30px; }
ul li.active .dropOut { opacity: 1; margin-top:20px;}




// .orange-txt {
//   background-color: #ffc15e;
//   background-image: -o-linear-gradient(bottom, #ffb135 0%, #ffc15e 100%);
//   background-image: -moz-linear-gradient(bottom, #ffb135 0%, #ffc15e 100%);
//   background-image: -webkit-linear-gradient(bottom, #ffb135 0%, #ffc15e 100%);
//   background-image: -ms-linear-gradient(bottom, #ffb135 0%, #ffc15e 100%);
//   background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #ffb135), color-stop(100%, #ffc15e));
//   background-image: linear, bottom, #ffb135 0%, #ffc15e 100%;
//
// &:hover {
//     background: #ffb135;
// }
//
// }

.wrapper-menu *{
  box-sizing: border-box;
}
.wrapper-menu {
  // width: 5em;
  // margin: 3em auto;
  float: right;
margin-top: 5px;
margin-right: 10px;
}

.menu-toggle-wrapper {
  	// margin-top: 0.938rem;
  	float: right;

  	button {
    		padding: 0;
    		outline: none;
    		background: none;
    		text-indent: none;
    		height: 1.875rem;
    border: none;
  	}
}

.btn-menu {
  	position: relative;
  	width: 35px;
}
.dropOut {
  .material-icons {
    float: left;
  }
ul li span {
  display: block;
  padding: 2px 0 0 20px;

}
}
.menu-icon {
  	top: 0;
  transition : background .3s ease .7s;

  	&,
  	&:before,
  	&:after {
    		background: #ecf0f1;
    		border-radius: 1px;
    		position: absolute;
    		display: block;
    		height: 6px;
    		width: 30px;
  	}

  	&:before,
  	&:after {
    		content: '';
    		transition : transform 1s ease;
  	}

  	&:before {
    		top: 12px;
  	}

  	&:after {
    		top: 24px;
  	}

	  .menu-open & {
    transition : background .3s ease;

    		& {
      			background-color: rgba(255, 255, 255, 0);
    		}

    		&:before {
      			transform : rotate(500deg);
    		}

    		&:after {
      			transform : rotate(-500deg);
      			top: 12px;
    		}
  	}
}
