<nav class="user-menu">
		<ul>
			<li class="drop">

				<div class="user-avatar">
          <span class=user-pic></span>
				</div>
			<span class="name">{{main.userName}}</span>

				<!-- <span aria-hidden="true" class="icon-reorder orange-txt"></span> -->
        <div class="wrapper-menu">
            <div class="menu-toggle-wrapper" aria-hidden="true">
    <button class="btn-menu menu-closed">
       <span class="menu-icon"></span>
    </button>
  </div>
</div>
				<div class="triangle"></div>


				<div class="dropdownContain">
					<div class="dropOut">
						<ul>
							<!-- <li><span aria-hidden="true" class="icon-envelope-alt"></span> </li> -->
              <li><i class="material-icons">settings</i> <span>Settings</span></li>
							<li ng-click="showAlert($event)"><i class="material-icons">help</i><span> About generator</span></li>
							<li ng-click="transitionTo('register')"><i class="material-icons" >power_settings_new</i><span> Disconect</span></li>
						</ul>
					</div>
				</div>

			</li>
		</ul>
</nav>
